* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body { 
    float: none !important;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 15px; 
    background-color:#485262;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:aliceblue;
    font-size: 30px;
}

nav a {
    display: inline-block;
    color: #05668D;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
    height: 40px;
}

nav a:hover {
    background-color:#59d2fe;
    color: aliceblue;
}

nav a.active {
    background-color:#485262;
    color: aliceblue;
}

#home-nav,
#projects-nav {
    float: left;
}

#colour-nav {
    float: right;
}

@media only screen and (max-width: 500px) {
    nav a {        
        width: auto;
        padding: 10px 5px;
    }

    nav {
        font-size: 15px;
    }
}

header {
    text-align: center;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 500px;
}

h1 {
    display: inline-block;
    padding: 20px;
    color: aliceblue;
    font-size: 100px;
}

#content {
    font-size: 30px;
    color: #05668D;
    background-color: aliceblue;
    text-align: center;
    border-radius: 1vw;
    width: 500px;
    height: 300px;
}

.btn {
    font-size: 30px;
    color: aliceblue;
    background-color: #59d2fe;
    display: inline-block;
    border-radius: 1vw;
    padding: 10px;
    width: 200px;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 40px;
}

.btn:hover {
    background-color:#05668D;
    cursor: pointer;
}

@media only screen and (max-width: 650px) {
    h1 {
        font-size: 80px;
        padding: 0;
    }
    #content {
        font-size: 16px;
        height: 250px;
        width: 300px;
    }
    #content h2 {
        padding-top: 10px;
    }
    #container {
        width: 300px;
    }
}

footer {
    background-color:aliceblue;
    font-size: 30px;
    padding: 0 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

footer a {
    text-align: center;
    height: 40px;
    line-height: 40px;
    color: #05668D;
    padding: 0 10px;
}

#email:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 650px) {
    footer {
        font-size: 15px;
    }
    footer a {
        padding: 0 5px;
    }
}